html
  head
    title Actualizar boletín
  body
    form(action="/bulletins/"+ bulletin.id, method="post")
      label Título
      input(type="text", name="name", value=bulletin.name)
      br
      label Noticia
      textarea(name="body") #{bulletin.body}
      br
      input(type="submit", value="Actualizar")
    
    a(href="/") Volver al listado