html
  head
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    block title
  body
    div(class="navbar navbar-default navbar-fixed-top")
      div(class="container")
        div(class="navbar-header")
          a(href="/", class="navbar-brand") Bulletins Server
          ul(class="nav navbar-nav")
            li
              a(href="/") Ver noticias
            li
              a(href="/bulletins/new") Crear una nueva noticia

    div(class="container")
      div(class="page-header")
        h1 Ayuntamiento de San Esteban de Litera
      div(class="bs-docs-section clearfix")
        div(class="row")
          div(class="col-lg-12")
            block content
      block foot
        footer
          div(class="row")
            div(class="col-lg-12") Desarrollado, con cariño, por 
              a(href="http://bierasolutions.com", target="blank") Biera Solutions