extends ./layout.jade

block title
  title= "Crear boletín"

block content
  form(action="/bulletins", method="post")
    label Título
    input(type="text", name="name")
    br
    label Noticia
    textarea(name="body")
    br
    input(type="submit", value="Crear")
      
  a(href="/") Volver al listado