extends ./layout.jade

block title
  title= "Crear boletín"

block content
  div(class="well bs-component")
    form(action="/bulletins", method="post", class="form-horizontal")
      fieldset
        div(class="form-group")
          label(class="col-lg-2 control-label") Título
          div(class="col-lg-10")
            input(class="form-control", type="text", name="name")
        div(class="form-group")
          label(class="col-lg-2 control-label") Noticia
          div(class="col-lg-10")
            textarea(class="form-control", name="body", rows="15")
        div(class="form-group")
          div(class="col-lg-10 col-lg-offset-2")
            input(type="submit", value="Crear", class="btn btn-primary")
            a(href="/", class="btn btn-default") Volver al listado