extends ./layout.jade

block title
  title= bulletin.name

block content
  h2 Boletín: #{bulletin.name}
  p !{bulletin.body.replace(/\n/g, '<br/>')}
  
  a(href="javascript:window.print();") Imprimir
  br
  a(href="/") Volver al listado
  br
  a(href="/bulletins/" + bulletin.id + "/edit") Editar